# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: d5hd39c24eab1d3d980729fbf2ef8847138f7587fe77fa0d7dbz601a1b13b51eae24685fde861393e18e3f49eb9t397aaff9579b1b04360cea7020131cb6be2b

test:
  secret_key_base: 5229e8ede5ce0bc7e6062e02a9237871e455c287add4604578a28d1d09d2fdcp433451d54b2467e678b7e47c0587576316b08c8b669253f41cc69e466cd5e1e0

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: d213504c9e7054c30d64473aag6b09533aacb0a2d461b4ee2cc23c7cb794e69cf44213025874b2v6eac755a0df0e99c8b35162q94deaf7ed0493c658e74b94j8
